/vendor
/node_modules
.env
/nbproject/private/
!/storage/imports/
/storage/imports/*
app/Cliente.php
config/excel.php
database/migrations/2016_10_04_085626_create_table_Cliente.php
database/migrations/2016_10_11_104402_Categoria.php
nbproject/project.properties
nbproject/project.xml
composer.lock
/database/migrations/2016_10_26_131347_create_task_table.php
/database/migrations/2016_10_26_131948_create_tasks_table.php
/database/migrations/2016_10_26_132639_create_client_table.php
database/migrations/2014_10_12_000000_create_users_table.php
